@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat:wght@100;300;600");
html {
  overflow-y: hidden;
}

body,
main {
  height: 100vh;
  width: 100vh;
  margin: 0px;
  background-color: #2C4251;
}

header {
  width: 100vw;
  height: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  justify-items: center;
  align-items: center;
}

#logo h2 {
  font-family: "Montserrat";
  font-weight: 300 !important;
  font-size: 50px;
  color: #ff90a1;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

#navstuff {
  height: 5rem;
  width: 5rem;
  position: relative;
}

#nav-toggle {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ff90a1;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-toggle:hover {
  transform: scale(1.1);
}
#nav-toggle:hover ~ #secret {
  transform: translate(-0.5%, 50%);
}
#nav-toggle:active {
  transform: scale(0.9);
}

#nav-toggle > h1 {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-size: 2.5rem;
  color: #fff;
  transition: opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
  transform-origin: left top;
  text-align: center;
}

@keyframes spinny {
  0% {
    rotate: 0deg;
    animation-timing-function: ease;
  }
  50% {
    rotate: 385deg;
    animation-timing-function: ease-in-out;
  }
  100% {
    rotate: 360deg;
    animation-timing-function: ease-out;
  }
}
@keyframes unspinny {
  0% {
    rotate: 0deg;
    animation-timing-function: ease;
  }
  50% {
    rotate: -385deg;
    animation-timing-function: ease-in-out;
  }
  100% {
    rotate: -360deg;
    animation-timing-function: ease-out;
  }
}
.navInactive #closedIcon {
  opacity: 1;
}
.navInactive #openIcon {
  opacity: 0;
}

#nav-bar.navInactive {
  transform: translateX(100%);
}

#closedIcon {
  stroke: #fff;
}

#nav-toggle:hover.navInactive #openIcon {
  opacity: 1;
}
#nav-toggle:hover.navInactive #closedIcon {
  opacity: 0;
}

.navActive #openIcon {
  opacity: 1;
}
.navActive #closedIcon {
  opacity: 0;
}
.navActive .nav-item > .nav-letter:nth-child(1) {
  transition-delay: 0.48s;
  transform: rotateX(15deg);
}
.navActive .nav-item > .nav-letter:nth-child(2) {
  transition-delay: 0.5s;
  transform: rotateX(15deg);
}
.navActive .nav-item > .nav-letter:nth-child(3) {
  transition-delay: 0.52s;
  transform: rotateX(15deg);
}
.navActive .nav-item > .nav-letter:nth-child(4) {
  transition-delay: 0.54s;
  transform: rotateX(15deg);
}
.navActive .nav-item > .nav-letter:nth-child(5) {
  transition-delay: 0.56s;
  transform: rotateX(15deg);
}
.navActive .nav-item > .nav-letter:nth-child(6) {
  transition-delay: 0.58s;
  transform: rotateX(15deg);
}
.navActive .nav-item > .nav-letter:nth-child(7) {
  transition-delay: 0.6s;
  transform: rotateX(15deg);
}
.navActive .nav-item > .nav-letter:nth-child(8) {
  transition-delay: 0.62s;
  transform: rotateX(15deg);
}

.navActive h1 {
  animation: spinny 0.75s;
}

.navInactive h1 {
  animation: unspinny 0.75s;
}

button {
  text-decoration: none;
  color: #ff90a1;
  transition: all ease 250ms;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
button:visited {
  color: #ff90a1;
}
button:hover {
  color: #fff;
}

#nav-bar ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#nav-bar li {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#secret {
  position: absolute;
  z-index: 0;
  position: absolute;
  height: 50%;
  width: 1000%;
  left: -1000%;
  transform: translateY(50%);
  margin: 0;
  padding: 0;
  transition: transform;
  transition-duration: 400ms;
  overflow: hidden;
}

#nav-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform ease-in-out 0.5s;
}

.nav-item {
  display: flex;
  text-decoration: none;
  color: #ff90a1;
  transition: all ease 250ms;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-item > .nav-letter {
  transform-origin: 0% 100%;
  transform: rotate(-15deg);
  margin: 0;
  padding: 0;
  transition: transform ease-out 0.1s;
}

#bodyWrapper {
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: #2C4251;
  display: flex;
  justify-content: center;
  align-items: top;
}

#home {
  width: 80%;
  height: 70%;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#homeWrapper {
  position: absolute;
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#homeWrapper:has(.fancy:hover) .word:not(.fancy) {
  opacity: 0.1;
}

.word {
  font-family: "Montserrat";
  font-size: 4vw;
  color: #fff;
  transition: opacity 250ms ease;
  font-weight: 100;
  opacity: 1;
}

.line {
  display: flex;
  justify-content: left;
  align-items: center;
}

.asciiLine {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#spacer {
  height: 3rem;
}

.ascii {
  width: 20%;
}

#Z1.zActive {
  transform: translateX(5%);
}
#Z1.zInactive {
  transform: translateX(-6%);
}

#Z2.zActive {
  transform: translateX(-6%);
}
#Z2.zInactive {
  transform: translateX(7%);
}

#Z3.zActive {
  transform: translateX(2%);
}
#Z3.zInactive {
  transform: translateX(-1%);
}

.asciiWord {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

#homeTitle {
  font-weight: 300 !important;
  text-decoration: none;
  opacity: 1;
}

#homeWord {
  font-size: 3vw;
}

#description {
  font-size: 2vw;
  font-weight: 300;
  color: #b3b3b3;
}

.noHighlight {
  opacity: 1;
  transition: opacity 500ms ease;
}

.highlight {
  display: inline-block;
  transform: translate(0%), rotate(0deg);
  color: #fff;
  transition: all 500ms ease;
}

.fancy {
  cursor: pointer;
}
.fancy:hover .highlight {
  color: #ff90a1;
}
.fancy:hover span:not(.highlight) {
  opacity: 0.1;
}
.fancy:hover .highlight:nth-child(1) {
  transform: translate(-50%) rotate(10deg);
}
.fancy:hover .highlight:nth-child(2) {
  transform: translate(5%) rotate(-5deg);
}
.fancy:hover .highlight:nth-child(3) {
  transform: translate(-10%) rotate(7deg);
}
.fancy:hover .highlight:nth-child(4) {
  transform: translate(9%) rotate(-4deg);
}
.fancy:hover .highlight:nth-child(5) {
  transform: translate(20%) rotate(6deg);
}
.fancy:hover .highlight:nth-child(7) {
  transform: translate(260%) rotate(3deg);
}
.fancy:hover .highlight:nth-child(11) {
  transform: translate(4%) rotate(-6deg);
}
.fancy:hover .highlight:nth-child(14) {
  transform: translate(-50%) rotate(-13deg);
}/*# sourceMappingURL=index.css.map */